<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Invoices</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-item mr-auto">
        <a class="nav-link" routerLink="documents/invoices">Invoices</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownContractors" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contractors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="contractors">Manage contractors</a>
          <a class="dropdown-item" routerLink="contractor/add">Add new contractor</a>
        </div>
      </li>
      <li class="navbar-item mr-auto">
        <a class="nav-link" routerLink="identity">My account</a>
      </li>
      <li class="nav-item mr-auto">
        <form class="form-inline">
          <button class="btn btn-outline-success" type="button" routerLink="documents/invoice">New invoice</button>
        </form>
      </li>
    </ul>

  </div>
</nav>
